* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    text-align: center;
}

li.holiday {
    color: red;
}

/* GOOGLE CALENDAR STYLE */

#app {
    height: 100vh;
    width: 100%;
    padding-top: 30px;
    background-color: #eee;
}

.fas {
    cursor: pointer;
}

.google-container {
    display: flex;
    flex-direction: column;
    width: 1024px;
    min-height: 768px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.header {
    display: flex;
    justify-content: space-between;
    flex-basis: 150px;
    padding: 46px 40px 0;
    background-image: url('../img/bkg_01_january.jpg');
    background-size: cover;
    background-position: center -390px;
    background-repeat: no-repeat;
    transition: background-image .3s;
}

.header .header-left {
    display: flex;
}

.header .header-left > * {
    padding-left: 20px;
}

.header .month-label {
    font-weight: 600;
    width: 140px;
}

.main {
    flex-grow: 1;
    background-color: #fff;
}

.main .week {
    display: flex;
    height: 38px;
    margin: 1px 0;
}

.main .week .weekday {
    display: flex;
    align-items: center;
    flex-basis: calc(100% / 7);
    padding-left: 16px;
    font-size: 14px;
    font-weight: 600;
    color: #9e9e9e;
}

.main .monthly-list {
    display: flex;
    flex-wrap: wrap;
}

.main .monthly-list .day {
    flex-basis: calc(100%/7);
    height: 115px;
    border: 1px solid rgba(0,0,0,.03);
    border-left: 0;
    border-right: 0;
    padding-top: 13px;
    font-size: 12px;
    color: #5e5e5e;
    overflow: hidden;
}

.main .monthly-list .day .day-number {
    margin-left: 16px;
}

.main .monthly-list .day .event {
    display: flex;
    align-items: center;
    width: 94%;
    height: 24px;
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 8px;
    border-radius: 4px;
    background-color: rgb(138, 34, 34);
    font-weight: 600;
    color: #fff;
}